{% extends 'base.html' %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .form-container {
            min-height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    {% load widget_tweaks %}
    <div class="container form-container">
        <form method="post" class="my-3">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
        </form>
    </div>
{% endblock content %}
