{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
{% endblock extra_css %}

{% block extra_js %}
    {% load static %}
    <script src="{% static '/js/scripts.js' %}"></script>
{% endblock extra_js %}


{% block content %}
    <h2>Inscription</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >S’inscrire</button>
    </form>
{% endblock content %}