<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>CORRECT'INSA</title>
        {% block extra_css %}
        {% load static %}  <!-- Ici, vous chargez la librairie static -->

        <!-- Ajout du CSS de Bootstrap via un CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- Ajout du CSS personnalisé -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {% endblock extra_css %}
    
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body id="element">
        <div class="container-fluid h-100">
            <div class="row vh-100">
                <div class="col-3 d-flex flex-column" style="background-color: red;">

                    <div class="card  mb-3">
                        <h1>CORRECT'INSA-CVL</h1>
                        <style>h1 {
                            text-align: center;
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size: 32px;
                            font-weight: bold;
                            color: #333333;
                          }
                          </style>
                        <div class="card-body  text-white-card">
                            {%  if user.is_authenticated %}
                                <p>Vous êtes connecté en tant que {{ user }}.</p>
                            {% endif %}
                        </div>
                    </div>
                    

                    {% if user.is_authenticated %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{% url 'home' %}" class="btn btn-outline-primary btn-block ">Accueil</a>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{% url 'availables' %}" class="btn btn-outline-primary btn-block ">Sujets disponibles</a>
                            </div>
                        </div>

                        {% if user.role == 'STUDENT' %}
                            <div class="card bg- mb-3">
                                <div class="card-body">
                                    <a href="{% url 'e_submit' %}" class="btn btn-outline-primary btn-block">Soumettre un devoir</a>
                                </div>
                            </div>
                            <div class="card  mb-3">
                                <div class="card-body">
                                    <a href="{% url 'notes' %}" class="btn btn-outline-primary btn-block ">Mes notes</a>
                                </div>
                            </div>
                        {% endif %}

                        {% if user.role == 'PROFESSOR' %}
                            <div class="card  mb-3">
                                <div class="card-body">
                                    <a href="{% url 'p_submit'%}" class="btn btn-outline-primary btn-block ">Soumettre un sujet</a>
                                </div>
                            </div>
                            <div class="card  mb-3">
                                <div class="card-body">
                                    <a href="{% url 'stats'%}" class="btn btn-outline-primary btn-block ">Statistiques</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="card  mb-3">
                            <div class="card-body">
                                <a href="{% url 'logout' %}" class="btn btn-outline-primary btn-block">Se déconnecter</a>
                            </div>
                        </div>
                        <div class="card  mb-3">
                            <div class="card-body">
                                <p>Voulez-vous <a href="{% url 'password_change' %}">changer votre mot de passe ?</a></p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-9">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <!-- Ajout de jQuery, Popper.js et du JS de Bootstrap via un CDN -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
